@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #F2F2F2;

  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
  text-decoration: none;
  text-transform: uppercase;

  margin: 0;

  border: none;
  cursor: pointer;

  border-radius: 4px;

  display: inline-block;
}

.button__big__brown {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;

  padding: 8px 50px;

  /* display: inline-block; */
}

.button__big__brown:hover {
  background-color: #615048;
}

.button__big__brown:focus {
  background-color: #615048;
}

.button__big__brown:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button__big__brown:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button__big__blue {
  font-size: 20px;
  line-height: 36px;
  background-color: #82B3D3;

  padding: 8px 50px;
  border-radius: 0 4px 4px 0;
}

.button__big__blue:hover {
  background-color: #68A2CA;
}

.button__big__blue:focus {
  background-color: #68A2CA;
}

.button__big__blue:active {
  background-color: #68A2CA;
  color:  rgba(255, 255, 255, 0.3);
}

.button__small__blue {
  background-color: #82B3D3;

  padding: 8px 50px;
}

.button__small__blue:hover {
  background-color: #68A2CA;
}

.button__small__blue:focus {
  background-color: #68A2CA;
}

.button__small__blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.button__small__blue:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.button__small__transparent {
  background-color: transparent;

  padding: 8px 58px;
}

.button__small__transparent:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}

.button__small__transparent:focus {
  background-color: transparent;
  color: #FFFFFF;
  border: 3px solid #83B3D3;
}

.button__small__transparent:active {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button__small__transparent:disabled {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.1);
}

.card__button {
  padding: 8px 26px;
}

.card__button:hover {
  background-color: #615048;
}

.card__button:focus {
  background-color: #615048;
}

.card__button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.card__button:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.card__button__blue {
  background-color: #82B3D3;

  padding: 8px 20px;
}

.card__button__blue:hover {
  background-color: #68A2CA;
}

.card__button__blue:focus {
  background-color: #68A2CA;
}

.card__button__blue:active {
  background-color: #82B3D3;
  color: rgba(255, 255, 255, 0.3);
}

.card__button__blue:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.card__button__current {
  background-color: #7DB54F;

  padding: 8px 18px;
}

.card__button__current:hover {
  background-color: #6C9E42;
}

.card__button__current:focus {
  background-color: #6C9E42;
  color: rgba(255, 255, 255, 0.3);
}

.card__button__current:active {
  background-color: #7DB54F;
}

.card__button__current:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

/* Основные контейнеры */

.container {
  margin: 0 auto;
  width: 1200px;

  display: flex;
  flex-direction: column;

  min-height: 100%;
}

/* Шапка сайта */

.page-header {
  background-color: #ffffff;

  display: flex;

  padding: 0 70px;
}

.logo__link {
  width: 138px;
  height: 64px;

  margin-right: 30px;
}

.navigation {
  width: 962px;

  display: flex;
}

.navigation__list {
  list-style-type: none;

  max-width: 470px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.navigation__user {
  margin-left: auto;
}

.navigation__link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: left;
  color:#000000;
  text-decoration: none;

  display: block;
  padding: 20px 16px;

  position: relative;
}

.navigation__link__current::before {
  position: absolute;
  content: "";
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.navigation__user .navigation__link__icon {
  min-width: 44px;
  height: 100%;

  padding: 22px 12px;
  box-sizing: border-box;
}

.navigation__icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation__link.button__link {
  color: #ffffff;

  display: inline-block;
  padding: 8px 34px;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-left: 20px;
}

.button__link:hover {
  background-color: #615048;
}

.button__link:focus {
  background-color: #615048;
}

.button__link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button__link:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

/* Главная часть - main */

.container__main {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

/* Hero-block - Раздел с приветствием */

.welcoming {
  width: 1200px;
  height: 485px;

  background-image: url("../images/main_index/welcome_divider_main.svg"), url("../images/main_index/welcome-background_main.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-color: #808080;

  color: #ffffff;
}

.welcoming__image {
  display: block;
  margin: 51px auto 0 auto;
}

/* Рекоммендации */

.advantages {
  background-color: #ffffff;
  color: #000000;
}

.advantages__wrapper {
  padding: 69px 270px 90px;
}

.advantages__slogan {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 25px;
}

.advantages__text {
  color: #333333;
  text-align: center;

  margin: 0;
}

/* Основной список рекомендаций: настоящий городок, там есть мост дьявола  */

.advantages__list {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.advantages__item {
  color: #333333;

  font-size: 18px;
  line-height: 21px;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
}

.advantages__content-wrapper {
  width: 400px;
  height: 384px;

  padding: 92px 85px 111px;

  box-sizing: border-box;
}

.advantages__content-wrapper-blue {
  background-color: #82B3D3;
}

.advantages__title {
  color: #ffffff;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 62px;
}

.advantages__description {
  color: #ffffff;

  margin: 0;
}

/* Дополнительный список: небольшая площадь, красивая дорога, мало туристов */

.advantages__extra-list {
  list-style-type: none;

  margin: 0;
  padding: 0;

  display: flex;
}

.advantages__extra-item {
  background-color: rgba(131, 179, 211, 0.12);

  width: 400px;
  height: 384px;

  padding: 103px 80px 121px;

  box-sizing: border-box;
}

.advantages__extra-item:nth-child(2) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__extra-title {
  color: #000000;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 62px;
}

.advantages__extra-description {
  margin: 0;
}

/* Дополнительный список: жильё, еда, сувениры */

.recommendations__list {
  list-style-type: none;

  margin: 0;
  padding: 0;

  display: flex;
}

.recommendations__item {
  background-color: rgba(131, 179, 211, 0.12);

  width: 400px;
  height: 384px;

  padding: 182px 85px 81px;

  box-sizing: border-box;

  position: relative;
}

.recommendations__item:nth-child(2) {
  background-color: #ffffff;
}

.recommendations__icon {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
}

.recommendations__title {
  color: #000000;

  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 30px;
}

.recommendations__description {
  margin: 0;
}

/* Заинтересовались? Поиск гостиницы */

.accomodation {
  color: #333333;
  text-align: center;

  background-color: #ffffff;

  padding: 96px 304px 96px 304px;
}

.accomodation__title {
  color:#000000;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 20px;
}

.accomodation__description {
  margin: 0;
  margin-bottom: 54px;
}

/* Подписка на рассылку */

.subscription {
  color: #ffffff;
  text-align: center;

  background-color: #808080;
  background-image: url("../images/main_index/subscribe_banner_main.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 96px 258px 104px 258px;
}

.subscription__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 20px;
}

.subscription__description {
  margin: 0 auto 54px auto;
  width: 475px;
}

.subscription__form {
  display: flex;
}

.subscription__field {
  width: 452px;
  margin: 0;
  padding: 14px 345px 14px 20px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;


  background-color: #F2F2F2;
  color: #000000;

  border: none;
  border-radius: 4px 0 0 4px;
}

.subscription__field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.subscription__field:hover {
  background-color: #E6E6E6;
}

.subscription__field:focus {
  background-color: #E6E6E6;
  border: 3px solid #83B3D3;
}

.subscription__field:active {
  background-color: #F2F2F2;
  border: 2px solid #000000;
}

/* Подвал сайта */

.page-footer {
  color: #000000;
  background-color: #ffffff;

  padding: 40px 70px 30px 70px;

  display: flex;
}

.social {
  max-width: 145px;

  margin-top: 5px;
  margin-bottom: 5px;
}

.social__list {
  list-style-type: none;

  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.social__item {
  min-width: 48px;
  min-height: 40px;

  padding: 13px 12px;

  box-sizing: border-box;
}

.social__link__vk {
  width: 24px;
  height: 14px;

}

.social__link__tme {
  width: 18px;
  height: 16px;
}

.social__link__youtube {
  width: 22px;
  height: 17px;
}

.social__icon {
  fill: #83B3D3;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #68A2CA;
}

.social__link:active .social__icon {
  fill: #68A2CA;
  opacity: 30%;
}

.contacts {
  margin: 5px auto 5px auto;
}

.contacts__phone {
  font-size: 40px;
  line-height: 40px;

  color: #000000;
  text-decoration: none;
}

.contacts__phone:hover {
  color: #756157;
}

.contacts__phone:focus {
  color: #756157;
}

.contacts__phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright {
  width: 115px;

  margin-top: 8px;
  margin-bottom: 8px;
}

.copyright__icon {
  fill: #000000;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  fill: #756157;
}

.copyright__link:active .copyright__icon {
  fill: #756157;
  opacity: 30%;
}

/* Страница каталога */

.main-inner {
  color: #000000;
  background-color: #ffffff;
}

/* Гостиницы Седоны */

.catalog-decoration {
  color: #ffffff;
  background-color: #808080;
  text-align: left;

  background-image: url("../images/catalog/catalog_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding: 35px 70px 70px 70px;
}

.inner-header {
  width: 1060px;
  margin: 0;
  margin-bottom: 40px;
}

.inner-header__title {
  font-size: 80px;
  line-height: 78px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 8px;
}

/* Хлебные крошки */

.breadcrumbs {
  list-style-type: none;

  margin: 0;
  padding: 0;

  display: flex;
}

.breadcrumbs__link {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.breadcrumbs__link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs__link:focus {
  color: #FFFFFF;
}

.breadcrumbs__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.homepage-icon__link {
  min-width: 12px;
  min-height: 12px;

  margin-right: 23px;

  position: relative;
}

.homepage-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: -2px;
  left: 0;
  margin: auto;
}

.catalog__link {
  padding-left: 18px;

  background-image: url("../images/catalog/arrow-icon_breadcrumbs.svg");
  background-repeat: no-repeat;
  background-size: 8px 20px;
  background-position: left 100%;
}

/* Фильтры для поиска гостиницы в Седоне */

.filter__form {
  width: 1060px;
  margin: 0;

  display: flex;
}

.filter__group {
  width: 151px;
  margin-left: 0;
  margin-right: 70px;
  padding: 0;
}

.filter__group__price {
  width: 288px;
  margin-left: auto;
  margin-right: 70px;

  display: grid;
  grid-template-columns: repeat(2, 143px);
  column-gap: 2px;
  row-gap: 36px;
}

input.price {
  padding: 0;
  margin: 0;
}

.price-range {
  grid-column: 1 / -1;
}

.filter__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;

  padding: 0;
  margin-bottom: 32px;
}

.filter__list {
  list-style-type: none;

  margin: 0;
  padding: 0;
}

.filter__item {
  font-size: 18px;
  line-height: 23px;

  margin-bottom: 16px;
}

.filter__item:last-child {
  margin-bottom: 0;
}

.filter__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.filter__submit-button {
  margin: 0;
  margin-bottom: 32px;
  padding: 8px 50px 8px 50px;
}

.filter__reset-button {
  margin: 0;
  padding: 8px 58px 8px 58px;
}

/* Результаты поиска */

.search-result {
  padding: 50px 70px 40px;

  display: flex;
}

.search-result__wrapper {
  display: flex;

  margin-top: 7px;
  margin-bottom: 7px;
}

.search-result__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;

  margin: 0;
  margin-right: 5px;
}

.search-result__number {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Способ отображения */

.select-control {
  width: 292px;

  margin-left: auto;
  margin-right: 70px;
}

.view-type__list {
  list-style-type: none;

  width: 160px;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
}

/* Каталог с карточками гостиниц */

.catalog-list {
  list-style-type: none;

  margin: 0;
  margin-bottom: 80px;

  padding: 0 70px 40px;

  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
}

.catalog-list__card {
  display: flex;
  flex-direction: column;

  width: 340px;

  padding: 20px;
  box-sizing: border-box;
}

.card__link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: left;
  color: inherit;
  text-decoration: none;

  margin: 0 auto;
  margin-bottom: 16px;

  /* Как сделать так, чтобы размер этого блока соответствовал
  размеру содержащегося в нём изображения? */
}

/* .card__image {
  object-fit: contain;
} */

.card__content {
  margin: 0;

  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
}

.card__link__content {
  grid-column: 1 / -1;
}

.card__title {
  margin: 0;
}

.card__type {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: left;
  color: #333333;
}

.card__price {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-align: right;
  color: #333333;
}

.card__stars {
  height: 32px;
  margin: 0;

  background-image: url("../images/catalog/star-icon.svg");
  background-repeat: space;
  background-size: 18px 17px;
  background-position: left;
}

.four-stars {
  width: 82px;
}

.three-stars {
  width: 66px;
}

.two-stars {
  width: 41px;
}

.card__rating {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #333333;

  margin: 0;

  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  background-color: #F2F2F2;
}

/* Пагинация */

.pagination{
  list-style-type: none;

  margin: 0;
  padding: 0 70px 60px;

  display: flex;
}

.pagination__item {
  width: 60px;
  height: 60px;
  margin-left: 0;
  margin-right: 8px;

  color: #ffffff;
  background-color: #82B3D3;

  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__item:hover {
  background-color: #68A2CA;
}

.pagination__item:focus {
  background-color: #68A2CA;
}

.pagination__item:active {
  background-color: #82B3D3;
  color:  rgba(255, 255, 255, 0.3);

}

.pagination__current {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination__next-page {
  color: #000000;
  background-color: #ffffff;
}

.pagination__link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: inherit;
  text-decoration: none;

  width: 60px;
  height: 60px;
  padding-top: 11px;
  box-sizing: border-box;
}

/* Подписка в каталоге */

.subscription__catalog {
  color: #000000;
  text-align: center;

  background-color: #ffffff;
  background-image: none;
}

.subscription__description__catalog {
  color:#333333
}
